<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="az.giggle.giggleviewrecorder">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <service android:name="az.giggle.giggleviewrecorder.TelecineService" />

        <receiver android:name="az.giggle.giggleviewrecorder.RecordingSession$DeleteRecordingBroadcastReceiver" />

    </application>

</manifest>
